body {
	text-align: center;
	font-weight: bold;
	font-family: Helvetica;
}

.flatiron {
	background-image: url(../images/flatiron.png);
	color: White;
}

h1 {
	font-size: 70px;
}

p {
	font-size: 14px;
	font-weight: normal;
}



.btn-nav {
	font-size: 18px;
	display: block;
	color: white;
}

.bottomtext {
	text-align: left;
	color: white;
	background-color: dimgray;
}


#divider {
	font-size: 23px;
	color: white;
	background-image: url(../images/flatiron.png);
}